In [11]:
import csv    #this is to read the file
from random import randint  # this is required to generate random integer values

# reading the file
with open('/content/drive/MyDrive/Assignment_1/data/spring-22-students.tsv','rt') as x:
    file = csv.reader(x)
    data = list(file)

data.remove(data[0])  # removing the first row as it is a heading and not required in the team

size = len(data) #counting the size of the list
print ("Total members in the list= %s" % size) # printing total number of members for reference
group_size = int(input("Pick the size of group \n")) # requesting user to select the size of each group

count = 1      # Starting count from 1
groupno = 1    # Assigning group numbers starting from 1
if group_size >= size :
     print('no need of making group everyone is in same group :1 \n')
     print('Group Number: 1')
     for line in data:
      print(line)
if group_size < size :
  for i in range(0, size):

    if count > group_size:  # if this condition is true, we change the group and start counting again
        count = 1
        groupno += 1
        
    if count == 1: # For each new group printing the group number
        print('Group Number: %d' % (groupno))
            
    randVal = randint(0,len(data)-1)  # picking up random row/data from the list
    print(data[randVal])              # printing the data
    data.remove(data[randVal])        # removing the data that is printed
    
    #if len(data) >= group_size-1:  # if there are not enough members to form a group we add them to the last group 
    count += 1

Total members in the list= 45
Pick the size of group
5
Group Number: 1
['Sarkar', ' Reetika\t8643242298665096034']
['Killworth', ' Kyle\t-8848445668263649238']
['Reminisetty', ' Sai Naga Pavani\t1591685606807352508']
['Alavala', ' Kushal\t7949742603085756203']
['Nguyen', ' Anne\t-1723188875694226164']
Group Number: 2
['Gonzalez', ' Franque\t-730044730185823083']
['Turmenne', ' Dominic\t8125580341883296944']
['Whitfield', ' Logan\t-6061069211117658187']
['Bonfield', ' Sage\t-6504927969497061295']
['Terrell', ' Jerry\t-4455125766486173996']
Group Number: 3
['Nayal', ' Meghna\t-3470105812940901766']
['Hayes', ' Kevin\t1339408132756941989']
['Thummalapally', ' Akhil Reddy\t-2176125765953617954']
['Nayal', ' Yamini\t9103315745626399993']
['Veeramaneni', ' Varsha\t-6644442737343541771']
Group Number: 4
['Edamadaka', ' Vamshi Krishna\t892661543899331206']
['Ganti', ' Vrinda Prabhakaram\t6421234007558707556']
['Aditham', ' Manideep\t2748218694791991120']
['Khant', ' Naitik Nilesh\t-965756823075472977']
['Tadikonda', ' Saipavan\t869885833329840789']
Group Number: 5
['Serratos Prudencio', ' Francisco\t-2462509233739110775']
['Dey', ' Amitabha\t-3886376931052097666']
['Gabbula', ' Venkata Vijay Krishna\t1151979053453793459']
['Blankson', ' Daniel\t-8968872549789180149']
['Proctor', ' Alyiah\t3671600931463625562']
Group Number: 6
['Littlejohn', ' Jesea\t7203332082110553252']
['Erram', ' Viveka\t-1290993697682729798']
['Kallem', ' Snehith\t5525470488191116272']
['Arasikere Rakesh', ' Raveena\t2268593958250897116']
['Vidapu', ' Aman Tej\t-2035093325430431991']
Group Number: 7
['Chilakuri', ' Lahari\t-1979813415920304142']
['Luo', ' Jacky\t6709415157623490936']
['Budavi', ' Priyanka\t8649594668534127648']
['Konka', ' Sri Vyshnavi\t9104511449264629905']
['Gabbula', ' Sai Ram Ajay Krishna\t8152531025298062743']
Group Number: 8
['Kasula', ' Sahaj\t3920808829343271099']
['Shah', ' Manish\t-3589171692494337814']
['Darandale', ' Aditi\t7208842126573094853']
['Yadav', ' Aryan\t-4087399839370729222']
['Carter', ' Jesse\t-3206211230938166746']
Group Number: 9
['Bhimineni', ' Lokesh\t362408483941604790']
['Gadireddy', ' Pavithra\t-8192697761711052655']
['Nukala', ' Tanmayee\t-1525574646263817008']
['Gummadi', ' Venkat\t5604102690916584116']
['Bhatt', ' Pratik Ashish\t-2970699835927101998']